@import "tailwindcss";

@font-face {
    font-family: FoundersGrotesk;
    src: url("/fonts/FoundersGrotesk-Semibold.woff2");
}

@font-face {
    font-family: NeueMonstreal;
    src: url("/fonts/NeueMontreal-Regular.woff2");
}

[data-scroll-container] {
  overflow: hidden !important;
}